@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/

body {
    background-color: rgb(141, 199, 199);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: rgb(52, 28, 138);
}
.destaque {
    background-color: bisque;
}

h1#principal {
    text-align: center;
    color: green;
    background-color: aquamarine;
}
h2 {
    color: rgb(12, 83, 12);
    font-weight: normal;
}
.basico {
    color: red;
}
.intermediario {
    color: yellow;
}
.avancado {
    color: green;
}